@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

article {
    display: flex;
    flex-direction: column;
    font-family: 'paybooc-Bold';
}

.question {
    display: none;
}

.result {
    display: none;
}

#img {
    height: 100%;
    width: 330px;
    text-align: center;
    margin: 0 auto;
}

.share {
    margin: 0 auto;
}

.kakao_ad {
    width: 320px;
    margin: 0 auto;
}