@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color:#090021;
    color: whitesmoke;
}

article {
    display: flex;
    flex-direction: column;
    font-family: 'paybooc-Bold';
}

.question {
    display: none;
}

.result {
    display: none;
}

.progress-bar{
    background-color: #560099;
}

.btn, .btn:focus{
    background-color: #560099;
    border: 0;
    box-shadow:none;
}

.btn:hover, .btn:active{
    background-color: rebeccapurple;
}

#img {
    height: 100%;
    width: 330px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}

.share {
    margin: 0 auto;
}

.kakao_ad {
    width: 320px;
    margin: 0 auto;
}